<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="/node_modules/core-js/client/shim.min.js"></script>
    @*<script src="/node_modules/quill/dist/quill.bubble.css"></script>
    <script src="/node_modules/quill/dist/quill.snow.css"></script>*@   
    <script src="/node_modules/zone.js/dist/zone.js"></script>
    <script src="/node_modules/systemjs/dist/system.src.js"></script>
    <script src="/systemjs.config.js"></script>
    
    @*<script src="https://cdn.ckeditor.com/4.5.6/standard/ckeditor.js"></script>*@

    @*<script src="https://npmcdn.com/zone.js@0.6.25"></script>
    <script src="https://npmcdn.com/reflect-metadata@0.1.8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/0.19.39/system.js"></script>
    <script src="https://npmcdn.com/typescript@2.0.3/lib/typescript.js"></script>*@

    <script>
        System.import('app').catch(function (err) { console.error(err); });
    </script>
</head>
<body>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
